@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

pre,
code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

pre {
  padding: .5rem;
  line-height: 1.25;
  overflow-x: scroll;
}

a,
a:visited {
  color: #3498db;
}

a:hover,
a:focus,
a:active {
  color: #2980b9;
}

.modest-no-decoration {
  text-decoration: none;
}

html {
  font-size: 12px;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 48rem) {
  html {
    font-size: 16px;
  }
}

body {
  line-height: 1.85;
}

p,
.modest-p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

h1,
.modest-h1,
h2,
.modest-h2,
h3,
.modest-h3,
h4,
.modest-h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
}

h1,
.modest-h1 {
  margin-top: 0;
  font-size: 3.998rem;
}

h2,
.modest-h2 {
  font-size: 2.827rem;
}

h3,
.modest-h3 {
  font-size: 1.999rem;
}

h4,
.modest-h4 {
  font-size: 1.414rem;
}

h5,
.modest-h5 {
  font-size: 1.121rem;
}

h6,
.modest-h6 {
  font-size: .88rem;
}

small,
.modest-small {
  font-size: .707em;
}

/* https://github.com/mrmrs/fluidity */

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}

html {
  font-size: 18px;
  max-width: 100%;
}

body {
  color: #444;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  margin: 0 auto;
  max-width: 48rem;
  line-height: 1.45;
  padding: .25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arimo, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  border-bottom: 2px solid #fafafa;
  margin-bottom: 1.15rem;
  padding-bottom: .5rem;
  text-align: center;
}

blockquote {
  border-left: 8px solid #fafafa;
  padding: 1rem;
}

pre,
code {
  background-color: #fafafa;
}
html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}
h2,h3{
  text-align: left;
}
.bigtitle{
  color: #ffffff;
  background: #4f4694;
  text-indent: 15px;
  h1,h2,h3,h4,h5,h6{
    margin: 20px 0;
    border: none;
  }
}

.title{
  left: 0;
  top: 0;
  font-weight: bold;
  position: fixed;
  z-index: 10;
  width: 100%;
  cursor: pointer;
  &:hover{
    opacity: .9;
  }
}
.titles{
  width: 260px;
  overflow: auto;
  word-break: keep-all;
  white-space: nowrap;
  position: fixed;
  left: 0;
  top: 60px;
  bottom: 0;
  h1{
    font-size: 18px;
  }
  h2{
    font-size: 16px;
    font-weight: normal;
    text-indent: 20px;
  }
  h3{
    font-size: 12px;
    font-weight: normal;
    color: #666;
    text-indent: 40px;
  }
  h1:hover, h2:hover, h3:hover{
    opacity: 1;
    background: #eee;
  }
}
.titles-list *{
  opacity: .7;
  cursor: pointer;
  margin: 0 0 0 10px;
  padding: 10px 5px;
  text-align: left;
}

.edit{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(2, 2, 3, 0.64);
  z-index: 11;
  top: 120%;
  transition: .5s;
  &.show{
    top: 0;
    background: rgba(2, 2, 3, 0.04);
  }
}
.editpad{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90%;
  height: 88%;
  transform: translate3d(-50%, -50%,0);
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 15px 30px #fff;
  padding: 10px 20px;
  border: 1px solid #eec;
  overflow: hidden;
}
.tit{
  font-size: 30px;
  color: #666;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.panel{
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 80px;
  top: 80px;
}
.btns{
  position: absolute;
  bottom: 15px;
  right: 20px;
  left: 20px;
  height: 50px;
  .save,.cancel{
    position: absolute;
    background: #d46d11;
    color: #fff;
    font-size: 25px;
    left: 0;
    width: 50%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    opacity: .8;
    transition: .3s;
  }
  .save{
    background: #118ad4;
    left: 50%;
  }
  .save:hover, .cancel:hover{
    opacity: 1;
  }

}

.pad-text{
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  border-color: #ccc;
  border-radius: 3px;
  resize: none;
  font-size: 14px;
}
.pad-div{
  position: absolute;
  left: 51%;
  right: 0;
  height: 100%;
  overflow: auto;
  top: 0!important;
  width: 50%!important;
}
.edit-btn{
  background: #2c4cc7;
  color: #fff;
  font-size: 12px;
  position: absolute;
  line-height: 1;
  border-radius: 5px;
  padding: 5px 10px;
  z-index: 11;
  cursor: pointer;
  &:hover{
    opacity: .8;
  }
}
.edit-title-btn{
  right: 10px;
  top: 10px;
}
.edit-content-btn{
  right: 10px;
  top: 10px;
}
.content{
  overflow: auto;
  word-break: break-all;
  position: fixed;
  left: 265px;
  right: 0;
  top: 60px;
  bottom: 0;
  background: #fcfcfc;
  padding: 10px;
}
.the-title{
 font-size: 26px;
 border-bottom: 1px solid #ccc;
 margin-bottom: 10px;
 padding-bottom: 10px;
}
.call-btn{
  color: #fff;
  background: #d51616;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  vertical-align: middle;
  cursor: pointer;
  transition: .6s;
  white-space: nowrap;
  &:hover{
    background: #fd1f1f;
  }
}

.focusit{
  animation: focusit .3s linear;
}

@keyframes focusit{
  0%{
    background: rgba(255, 0, 0, .4);
  }
  100%{
    background: rgba(255, 0, 0, 0);
  }
}


